[submodule "files/vim/bundle/fugitive"]
	path = files/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "files/vim/bundle/solarized"]
	path = files/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "files/vim/bundle/command-t"]
	path = files/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "files/vim/bundle/JavaScript-Indent"]
	path = files/vim/bundle/JavaScript-Indent
	url = https://github.com/vim-scripts/JavaScript-Indent.git
[submodule "files/vim/bundle/pathogen"]
	path = files/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "files/oh-my-zsh"]
	path = files/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/vim/bundle/vim-coffee-script"]
	path = files/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "files/vim/bundle/vim-arcanist"]
	path = files/vim/bundle/vim-arcanist
	url = git://github.com/phleet/vim-arcanist.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
